<a href="https://colab.research.google.com/github/imgauravswarnsharma/dsml-nov22-beginner-morning-tue/blob/main/nov_pattern_printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hows the josh?")

Hows the josh?

In [ ]:
'''
Question1:

Print the following pattern:

n = 5

*
**
***
****
*****

Input the number of rows from the user: n
'''

In [ ]:
n = int(input())

for i in range(n):
  #print ith row
  for j in range(i+1):
    print('*', end = "")

  # print("\n", end = "")
  print()

5
*
**
***
****
*****

In [ ]:
i = 5
# i+1 stars
for j in range(i+1):
  print('*', end = "")

******

In [ ]:
'''
Question2:

Print the following pattern:

n = 6
1
12
123
1234
12345
123456

'''

In [ ]:
# n = int(input())

n = 5
for i in range(1, n+1):
  #print the ith row
  for j in range(1, i+1):
    print(j, end = "")

  print()

1
12
123
1234
12345

In [ ]:
#HW - try to start row numbers from 0 and then print the same pattern

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i, end = " ")

0 1 2 3 4

In [ ]:
print("\n", end = "")

In [ ]:
'''
Question2:

Print the following pattern:

n = 6
1
12
123
1234
12345
123456

'''

In [ ]:
#0 based row number

n = 5

for i in range(n):

  #print the ith row
  for j in range(1, i+2):
    print(j, end = "")

  print()

1
12
123
1234
12345

In [ ]:
'''
Question2:

Print the following pattern:

n = 6
*
*2
*2*
*2*4
*2*4*
*2*4*6


Obs:
Within each row: printing 1 - i
even - print number
odd - print *
'''

In [ ]:
n = int(input())

for i in range(1,n+1):

  #print the ith row
  for j in range(1,i+1):

    if j%2 == 0:
      print(j, end = "")
    else:
      print('*', end= "")

  print()

5
*
*2
*2*
*2*4
*2*4*

In [ ]:
n = 6

for i in range(1,n+1):

  #print the ith row
  for j in range(1,i+1):

    if j%2 == 0:
      print(j, end = "")
    else:
      print('*', end= "")

  print()

*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
'''
*
*2
*2*
*2*4
*2*4*
*2*4*6
'''

In [ ]:
'''
Quesiton4:
Print the following pattern:
n = 5

    *
   **
  ***
 ****
*****
'''

In [ ]:
n = 5

for i in range(n):

  #print ith row

  #print the space part

  #print the star part

  print()

In [ ]:
n = 5

for i in range(n):

  #print ith row

  #print the space part- this loop should run n-i-1 number of times
  for j in range(n-i-1):
    print("@", end = "")

  #print the star part- this loop should run i+1 number of times
  for k in range(i+1):
    print("*", end = "")

  print()

@@@@*
@@@**
@@***
@****
*****

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print('*',end = "")

*****

In [ ]:
for i in range(1,6):
  print('*')

*
*
*
*
*

In [ ]:
'''
Question 5:
n = 5

*****
****
***
**
*

'''

In [ ]:
n = 5

for i in range(5):

  #print ith row --> print n-i number of stars
  for j in range(0,n-i):
    print("*", end = "")
  
  print()

*****
****
***
**
*

In [ ]:
n = 5

for i in range(5):

  #print ith row --> print n-i number of stars
  for j in range(1,n-i+1):
    print("*", end = "")
  
  print()

*****
****
***
**
*

In [ ]:
n = 5

for i in range(5):

  #print ith row --> print n-i number of stars
  for j in range(2,n-i+2):
    print("*", end = "")
  
  print()

*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range(n-i):
    print("*", end = "")
  
  print()

*****
****
***
**
*

In [ ]:
# doubts

In [ ]:
# print("*", end = " ") -- for all
# print("*", end ="") -- for last

In [ ]:
# print all the nubmers from 1 to n
n=6
for j in range(1,n+1):
  print(j, end = " ")

1 2 3 4 5 6

In [ ]:
for j in range(n+1):
  print(j)

0
1
2
3
4
5
6

In [ ]:
num1 = int(input())
for i in range(1, num1+1,1):
  for j in range(i,0,-1):
    print(i,j, end = "   ")
  
  print()

4
1 1
2 2   2 1
3 3   3 2   3 1
4 4   4 3   4 2   4 1

In [ ]:
n=int(input()) 
for i in range (n,0,-1):
  for j in range (i,0,-1):
    print(j,end="")
  
  print()

4
4321
321
21
1